src/main/resources/wsdl/openRegister/MessageExchange.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://schema.middleware.opr.electrol.com/MessageExchange/0/5" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msge="http://schema.middleware.opr.electrol.com/MessageExchange/0/5" xmlns:commons="http://schema.middleware.opr.electrol.com/Commons/0/6" elementFormDefault="qualified">
	<xs:import namespace="http://schema.middleware.opr.electrol.com/Commons/0/6" schemaLocation="Commons.0.6.xsd"/>
	<xs:simpleType name="ResponseStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Acknowledged">
				<xs:annotation>
					<xs:documentation>This status is a response signal from a destination (or Service Provide) system indicating that the request message signal has been received successfully. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RequestHeader">
		<xs:sequence>
			<xs:element name="requestId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This represents the requesters identifier generated by the source application typically it will be a  uuid or System Specific pattern</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This represents the date and time when the exchange message  request was issued</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source" type="commons:ExchangeSystem" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is the Source (System) of the message exchange. The source and destination can not be the same</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="destination" type="commons:ExchangeSystem" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is the Destination (System) of the message exchange. The source and destination can not be the same</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseHeader">
		<xs:sequence>
			<xs:element name="requestId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is the id supplied by the service consumer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="responseId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is a unique id that represents this message response from the responder</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The issueDateTime is from the request exchange message . It represents the date and time when the exchange message  request was issued.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="receivedDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The receivedDateTime represents the date and time when the exchange message  response was issued.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source" type="commons:ExchangeSystem" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is the Source (System) of the message exchange. The source and destination can not be the same</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="destination" type="commons:ExchangeSystem" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is the Destination (System) of the message exchange. The source and destination can not be the same</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseException">
		<xs:sequence>
			<xs:element name="errorCode" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This represents a defined and known error code for the sub error message</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="message" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="severity" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="exceptionType" use="optional" type="msge:ExceptionType"/>
	</xs:complexType>
	<xs:complexType name="MessageInfo">
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="message" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="severity" type="msge:Severity" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Severity">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Error"/>
			<xs:enumeration value="Information"/>
			<xs:enumeration value="Warning"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExceptionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Business"/>
			<xs:enumeration value="Technical"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QueryResponseStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NoRecordFound"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
